*{
				margin:0;
				padding:0;
			}
			#logo{
				height:50px;
			}
			.logoIndex{
				height:50px;
				width:150px;
				float:left;
				list-style:none;
				line-height:50px;
				text-align:center;
				position:relative;
				background-color:blue;
				border:1px solid #fff;
				text-decoration:none;
				color:red;
				font-size:20px;
				font-weight:bold;
			}
			.first{
				position:absolute;
				top:50px;
				left:0px;
				width:150px;
				display:none;
				background-color:#50B6BA;
				border:1px solid #ccc;
			}
			.IndexA{
				height:50px;
				list-style:none;
				line-height:50px;
				text-align:center;
			}