.iWantBox{height: 107px;background: #f7f9f9;}
.iWant{width: 1002px;height: 107px;margin: 0 auto;}
.iWantLeft{width: 700px;line-height: 106px;font-size: 22px;color: #333;float: left;}
.iWantRight{float: right;color: #fff;width: 165px;height: 50px;text-align: center;line-height: 50px;background: url(../img/iWantBg.png) no-repeat;margin: 25px 25px 0 0;}


.ketang{width: 1024px;height: 314px;padding-top: 65px;margin: 0 auto;}
.ketang dl{float: left;width: 236px;margin: 0 10px;}
.ketang dt{height: 182px;width: 236px;}
.ketang dd{padding-top: 18px;}
.ketang dd .big{font-size: 18px;color: #333;font-weight: bold;}
.ketang dd .small{font-size: 14px;color: #333;line-height: 30px;}

.smallBanner{height: 150px;background: url(../img/smallBanner.png);overflow: hidden;text-align: center;}
.smallBanner .big{font-size: 48px;margin-top: 36px;color: #fff;}
.smallBanner .small{font-size: 24px;line-height: 40px;color: #fff;}


.data{width: 1002px;height: 170px;margin: 0 auto;padding-top: 60px;}
.data dl{width: 334px;float: left;padding-top: 18px;}
.data dt{float: left;width: 50px;background: url(../img/tubiao.png) no-repeat -2px -1164px;width: 52px;height: 36px;}
.data dd{width: 234px;float: left;height: 98px;border-bottom: 2px solid #ff6600;}


.freePicBox{height: 280px;padding-top: 60px;background: #f7f9f9;}
.freePic{width: 1040px;margin: 0 auto;}
.freePic dl{float: left;margin: 0 20px;}
.freePicIntro{line-height: 54px;font-size: 18px;color: #3d3d3d;text-align: center;}


.phone{width: 1035px;height: 252px;padding-top: 42px;margin: 0 auto;}
.phone li{float: left;}
.dianwo{width: 220px;height: 218px;text-align: center;padding-left: 35px;}
.dianwo1{height: 38px;font-size: 24px;line-height: 38px;color: #be0000;background: url(../img/tubiao.png) no-repeat -168px -3px;}
.dianwo2{height: 74px;line-height: 74px;font-size: 16px;color: #363636;background: url(../img/tubiao.png) no-repeat -168px -45px;}
.dianwo2 span{color: #ea0000;}
.freeListen{width: 144px;height: 218px;padding: 0 25px;border-left: 1px dashed #d4d4d4;}
.freeListen1{font-size: 20px;color: #363636;line-height: 36px;padding-left: 25px;background: url(../img/tubiao.png) no-repeat -176px -401px;}
.freeListen2{font-size: 14px;color: #d4d4d4;line-height: 22px;}
.freeListen3{width: 139px;height: 34px;display: block;background: url(../img/freeListenBg.png) no-repeat;margin-top: 30px;line-height: 34px;text-align: center;font-size: 12px;color: #fff;}


