body,ul,li,dl,dd,dt,h1,h3,p,img,input{margin:0;padding: 0;}
li{list-style: none;}
body{font-family: "微软雅黑";}
a{text-decoration: none;}
img{border: none;}



.headerBox{height: 45px;background: #0d1d0d;}
.header{width: 1132px;height: 45px;margin: 0 auto;}
.logo{width:60px;height: 31px;margin-top: 3px;float: left;}
.headerNav{float: left;height: 45px;}
.headerNav li{float: left;width: 77px;}
.header li a{line-height: 44px;font-size: 16px;}
.headerNav1{background: url(../img/tubiao.png) no-repeat 40px 20px;}
.headerNav1 a{color: #fff;}
.headerNav2 a{color: #b3b8b3;}
.headerRight{float: right;}
.headerRight li{float: left;padding-right: 30px;}
.headerRight .headerNav1{background-position:90px 20px;position: relative;}
.headerRight div{position: absolute;top:32px;left: -98px;width: 202px;height: 127px;background:url(../img/loginBg.png) no-repeat;display: none;}
.headerRight .headerNav1:hover div{display: block;}
.headerRight .headerNav1 div a{width: 170px;height: 34px;display: block;background: #0c93d2;font-size: 16px;line-height: 34px;color: #fff;margin: 26px 0 0 15px;text-align: center;}


.main{background: #000 url(../img/bodyBg.png) no-repeat;width: 1280px;overflow: hidden;margin: 0 auto;}
.nav{height: 84px;width: 994px;margin: 150px auto 0;overflow: hidden;}
.navLeft{width: 630px;height: 65px;margin-top: 10px;padding-left: 10px;float: left;}
.navLeft li{float: left;width: 105px;height: 65px;}
.navLeft li a{display: block;width: 105px;height: 65px;}
.navLeft .navLeft1{width: 102px;}
.navLeft .navLeft1 a{width: 102px;}
.navPic1{background: url(../img/nav1.png) no-repeat;}
.navPic2{background: url(../img/nav_04.png) no-repeat;}
.navPic3{background: url(../img/nav_05.png) no-repeat;}
.navPic4{background: url(../img/nav_07.png) no-repeat;}
.navPic5{background: url(../img/nav_08.png) no-repeat;}
.navPic6{background: url(../img/nav_09.png) no-repeat;}
.navRight{width: 345px;height: 84px;float: right;background: url(../img/navRight.png) no-repeat;}


.news{width: 994px;margin: 0 auto;}
.newsLeft{background: url(../img/newsBg.png);width: 648px;float: left;padding-bottom: 20px;}
.banner{width: 648px;height: 320px;padding-top: 12px;position: relative;}
.banner a{position: absolute;display: block;width: 24px;height: 24px;border: 1px solid #5f6859;line-height: 24px;font-size: 24px;text-align: center;color: #7c866f;}
#left{bottom: 30px;right: 45px;}
#right{bottom: 30px;right: 20px;}
.yulan{width:616px ;height: 183px;margin: 0 auto;}
.yulan dl{float: left;width: 192px;}
.biaoti{color:#ffb100;font-size: 11px;line-height: 34px;}
.day{line-height: 40px;font-size: 11px;}
.day a{color:#ffb100;display: block;width: 34px;height: 40px;float: left;padding-left: 18px;background: url(../img/tubiao.png) no-repeat 0 -267px;}
.day span{display: block;width: 36px;height: 40px;float: left;color:#855b47;}
.yulan .hasMargin{margin: 0 20px;}
.juti{width: 616px;margin: 0 auto;}
.juti dl{width: 616px;height: 100px;background:url(../img/yulanBg.png) repeat-x left top;padding: 20px 0;}
.juti dt{float: left;height: 100px;width: 192px;}
.juti dd{float: left;width: 401px;padding:0 8px 0 15px;}
.jutiP1{font-size: 18px;line-height: 20px;color: #f5ebd1;}
.jutiP2{font-size: 13px;line-height: 20px;color: #a99877;margin-top: 6px;}
.jutiP3{line-height: 20px;font-size: 11px;}
.jutiP3 a{color:#ffb100;display: block;width: 34px;height: 20px;float: left;padding-left: 18px;background: url(../img/tubiao.png) no-repeat 0 -277px;}
.jutiP3 span{display: block;width: 36px;height: 20px;float: left;color:#855b47;}
.lookMore{width: 616px;height: 38px;display: block;background: #1a0f09;font-size: 11px;color: #ffb100;line-height: 38px;text-align: center;}


.newsRight{background: url(../img/newsRightBg.png);width: 304px;float: left;padding: 0 21px 53px;}
.shouting{margin: 30px 0;}
.chongzhi{height: 361px;width: 304px;}
.chongzhi li{width: 304px;height: 52px;margin-bottom: 10px;}
.tubiao{height: 82px;width: 304px;}
.tip{width: 304px;font-size: 12px;color: #fef092;line-height: 32px;border-bottom: 2px solid #552b12;margin-top: 40px;}
.tubiao li{float: left;margin-left: 10px;margin-top: 17px;}
.tubiao li a{display: block;width: 31px;height: 31px;background: url(../img/tubiao.png) no-repeat 0 -366px;}
.tubiao li .tubiao2{background-position: -40px -366px;}
.tubiao li .tubiao3{background-position: -83px -366px;}
.tubiao li .tubiao4{background-position: -126px -366px;}
.tubiao li .tubiao5{background-position: -168px -366px;}
.ziliao{margin-top:30px;padding-bottom: 9px;}
.newsTips{font-size: 12px;height: 32px;line-height: 32px;border-bottom: 2px solid #552b12;}
.newsTips a{color: #fef092;float: left;}
.newsTips span{float: left;width: 12px;height: 12px;margin: 10px 0 0 8px;background: url(../img/tubiao.png) no-repeat 0 -452px;}
.hasMarginBottom{border-bottom: 1px solid #271b15;}
.ziliao dt{padding: 10px 4px;}
.ziliao dd{padding-left: 8px;}
.ziliao dd a{font-size: 12px;color: #ffb100;line-height: 16px;}
.zhuti li{padding: 9px 0 12px;border-bottom: 1px solid #271b15;}
.zhuti1{font-size: 12px;color: #ffb102;line-height: 16px;}
.zhuti2{font-size: 12px;line-height: 16px;color: #7e3406;}


.zhichi{width:994px;height: 90px;margin: 0 auto;clear: both;}
.zhichiLeft{float: left;}
.zhichiLeft li{float: left;padding-left: 28px;height: 24px;margin-top: 33px;}
.zhichiLeft li a{font-size: 13px;color: #b1b1b0;line-height: 24px;}
.zhichiLeft1{background:url(../img/tubiao.png) no-repeat 0 -508px;}
.zhichiLeft2{margin-left: 15px;background:url(../img/tubiao.png) no-repeat 0 -552px;}
.zhichiRight{float: right;height: 24px;margin-top: 33px;width: 116px;padding-left: 30px;background:url(../img/tubiao.png) no-repeat 0 -594px;}
.zhichiRight a{font-size: 13px;color: #b1b1b0;line-height: 24px;width: 116px;display: block;background:url(../img/tubiao.png) no-repeat 93px -638px;}


.footer{width: 994px;height: 260px;margin: 0 auto;}
.footLogo{float: left;width: 114px;height: 64px;}
.footIntro{width: 640px;height: 150px;float: right;margin-top: 20px;}
.footIntro ul{width: 640px;height: 29px;}
.footIntro li{float: left;height: 29px;}
.footIntro li a{font-size: 12px;color: #b1b1b0;line-height: 16px;padding: 0 10px;border-right: 1px solid #263c4a;border-left: 1px solid #4c4433;}
#noBorderRight{border-right: none;}
#noBorderLeft{border-left: 0;}
.copy{font-size: 10px;line-height: 24px;color: #4c4c42;padding-left: 10px;}
.footPic{padding-left: 10px;}
.footPic img{margin-right: 10px;}
