{
    "compiler": "modular",
    "name": "backstage",
    "version": "0.0.1",
    "dependencies": {},
    "alias": {},
    "export": [
      "scripts/start.index.js",
      "scripts/start.jksh.js",
      "scripts/start.mflz.js",
      "scripts/start.mlcd.js",
      "scripts/start.msms.js",
      "scripts/start.pzcf.js",
      "scripts/start.zbcc.js",
      "styles/start.index.scss",
      "styles/start.jksh.scss",
      "styles/start.mflz.scss",
      "styles/start.mlcd.scss",
      "styles/start.msms.scss",
      "styles/start.pzcf.scss",
      "styles/start.zbcc.scss"
    ]
}
