@charset "utf-8";
/* CSS Document */
.add-title{margin:2%; color:#333}
.add-title dl{margin-bottom:2%;}
.add-title dt{float:left; font-family:'微软雅黑';width:120px; text-align:right; line-height:30px;}
.add-title input{height:30px; width:300px; margin-left:10px; border:1px solid #dcdddd; background:#fff;padding:0 10px;}
.add-title textarea{width:40%;height:200px;border:1px solid #dcdddd; background:#fff;margin-left:10px;padding:10px;}
.add-title a{ margin-left:10px; color:#666}
.add-but{ width:80px; height:30px; line-height:30px; color:#fff; background:#008eff; border-radius:5px; border:none; margin-left:400px; margin-top:50px; cursor:pointer}
.add-select dd{width:400px; position:relative;margin-left:130px;height:30px;}
.select_box {width:290px; border:1px solid #ccc; padding-right:20px; padding-left:10px; background:url(107.gif) no-repeat 160px center; position:relative;height:30px; line-height:30px;}
.select_box span {cursor:pointer; display:block;width:100%;height:30px; line-height:30px;overflow:hidden;}
.select_box ul li {cursor:pointer;}
.son_ul {width:320px; position:absolute; left:-1px; top:30px; border:1px solid #ccc; background:#fff;}
.son_ul li {display:block; line-height:30px; padding-left:10px; width:310px}
.hover {background:#ccc;}
.add-con{ line-height:30px;margin:5% 10% 5% 5%;}