@charset "utf-8";
/* CSS Document */

.container{width:100%;height:100%;margin:auto; background:#f2f2f4}

/*left*/
.leftsidebar_box{width:160px;height:auto !important;overflow:visible !important;height:100% !important;}
.line{height:2px;width:100%;background-image:url(images/left/line_bg.png);background-repeat:repeat-x;}
.leftsidebar_box dt{padding-left:40px;padding-right:10px;color:##3e3a39;font-size:14px;position:relative;line-height:48px;cursor:pointer; font-weight:bold;margin-left:10px;}
.leftsidebar_box dd{background-color:#f2f2f4;padding-left:40px; margin-left:5% }
.leftsidebar_box dd a{color:#3e3a39;line-height:34px; font-size:12px;}
.leftsidebar_box dt img{ vertical-align:middle; margin-left:10px;}
.system_log dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.custom dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.channel dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.app dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.cloud dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.syetem_management dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.source dt{background:url(../img/icon-lm.png) no-repeat 10px center}
.statistics dt{background:url(../img/icon-lm.png) no-repeat 10px center}
/*选项卡1*/
#lib_zzjs_1{width:190px;padding:0px;}
/*选项卡2*/
/*菜单class*/
.lib_menu_zzjsnet{position:relative;}
.lib_menu_zzjsnet ul{margin:0px;padding:0px;list-style:none; position:absolute; top:3px; left:0; margin-left:10px; height:25px;text-align:center;}
.lib_menu_zzjsnet li{float:left;display:block;cursor:pointer;width:114px;color:#949694;font-weight:bold; margin-right:2px;height:25px;line-height:25px; background-color:#E4F2FD}
.lib_menu_zzjsnet li.hover{padding:0px;background:#fff;width:116px;border-left:1px solid #95C9E1;border-top:1px solid #95C9E1;border-right:1px solid #95C9E1;
color:#739242;height:25px;line-height:25px;}
.lib_Contentbox_zzjs{clear:both;width:90%;margin-left:190px; background:#fff; min-height:500px;}
#zzjs_zzjs_1_1{min-height:1000px;}
#zzjs_zzjs_1_2{min-height:1000px;}
#zzjs_zzjs_1_3{min-height:1000px;}
#zzjs_zzjs_1_4{min-height:1000px;}
#zzjs_zzjs_1_5{min-height:1000px;}
#zzjs_zzjs_1_6{min-height:1000px;}
#zzjs_zzjs_1_7{min-height:1000px;}
#zzjs_zzjs_1_8{min-height:1000px;}
#zzjs_zzjs_1_9{min-height:1000px;}