.bannerBox{height: 201px;background:url(../img/gezi.png);}
.banner{width: 1140px;height: 201px;overflow: hidden;margin: 0 auto;}
.bannertips{font-size: 24px;color: #feffff;font-weight: bold;margin-top: 55px;}
.bannertips span{font-size: 18px;color: #feb3b0;font-weight:normal;}
.weizi{margin-top: 24px;font-size: 12px;color: #feb3b0;}
.weizi a{color: #feffff;font-weight: bold;}


.hangyeBox{height: 60px;background:#f7f7f7 ;}
.hangye{width: 1140px;height: 60px;margin: 0 auto;}
.hangye ul{float: right;}
.hangye li{width: 82px;height: 60px;float: left;}
.hangye li a{font-size: 11px;color: #656565;line-height: 60px;}