@charset "utf-8";

body{background: #fff;}
.jindu{width: 1000px;height: 70px;margin:  auto;padding-top: 30px;}
.jinduLeft{width:200px;float: left;}
.jinduRight{width: 430px;float: right;}

.tab{width: 998px;border: 1px solid #e8e8e8;margin: 0 auto;font-size: 12px;color: #666;border-spacing: 0;}
.tab thead{text-align: left;background: #F2F2F2;line-height: 36px;}
.tab2{padding:10px 0;}
.tab1{width: 80px;padding: 0 15px 0 20px;}
.tab2{width: 310px;padding: 20px 80px 20px 0;}
.tab2 img{width: 80px;height: 80px;float: left;}
.tab2 a{float: left;margin-left: 20px;text-decoration: underline;line-height: 24px;height: 80px;width: 210px;color: #666;}
.tab2 a:hover{color: red;}
tbody .tab5{font-size: 16px;font-weight: bold;}
.tab3,.tab4,.tab5{width: 140px;}
.tab4 p{border: 1px solid #e8e8e8;width: 72px;height: 20px;line-height: 20px;text-align: center;}
.tab4 a{float: left;width: 20px;height: 20px;color: #666;font-size: 16px;}
.tab4 #shuliang{width: 30px;height: 20px;float: left;border-right: 1px solid #e8e8e8;border-left:1px solid #e8e8e8;}
.noGood{width:998px;height: 260px;padding-top: 40px;border: 1px solid #e8e8e8;margin: 0 auto;font-size: 18px;color: #666;text-align: center;}
.noGood a{color: #444;font-weight: bold;}
.noGood a:hover{color: red;}
#shopCarFooter{width: 998px;height: 50px;border: 1px solid #e8e8e8;margin: 0 auto;display: none;}
#payMoney{width: 160px;height: 50px;float: right;text-align: center;font-weight: bold;font-size: 18px;color: #fff;background-color: #ff504a;line-height: 50px;}
#shopCarFooter em{float: left;width: 200px;line-height: 50px;font-size: 16px;padding-left: 150px;}
#shopCarFooter em i{color:#000;font-weight: bold;font-size: 18px;}
#shopCarFooter span{width: 200px;line-height: 50px;font-size: 18px;color:#ff504a;}
#shopCarFooter span b{font-weight: bold;}



